<div class="details" *ngIf="card">
  <h1 class="card-name">{{ card.name }}</h1>
  <div class="content">
    <img class="pokemon-img-high" [src]="card.imageUrlHiRes" alt="card.name" />
    <div class="pokemon-data">
      <div class="id">
        <span class="legend">Id: </span>
        <span>{{ card.id }}</span>
      </div>
      <div class="type">
        <span class="legend">Tipo: </span>
        <img
          *ngFor="let type of card.types"
          [src]="'assets/' + type + '.png'"
          alt=""
        />
      </div>
      <div class="attack">
        <span class="legend">Ataques: </span>
        <ul *ngFor="let attack of card.attacks">
          <ol>
            <span class="legend">Nome: </span>
            <span>{{ attack.name }}</span>
          </ol>
          <ol>
            <span class="legend">Custo: </span>
            <img
              *ngFor="let cost of attack.cost"
              [src]="'assets/' + cost + '.png'"
              alt=""
            />
          </ol>
          <ol>
            <span class="legend">Dano: </span>
            <span>{{ attack.damage }}</span>
          </ol>
          <ol>
            <span class="legend">Descrição: </span>
            <span>{{ attack.text ? attack.text : "Sem descrição" }}</span>
          </ol>
        </ul>
      </div>
      <div class="resistence">
        <span class="legend">Resistência: </span>
        <img
          *ngFor="let res of card.resistances"
          [src]="'assets/' + res.type + '.png'"
          alt=""
        />
        <span *ngIf="!card.resistances">Nenhuma</span>
      </div>
      <div class="weakness">
        <span class="legend">Fraquezas: </span>
        <img
          *ngFor="let weak of card.weaknesses"
          [src]="'assets/' + weak.type + '.png'"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
