@import "../../../../styles/variables.sass"
.card
    display: flex
    flex-direction: column
    padding: 8px
    box-sizing: border-box
    border: 1px solid $borderColor
    border-radius: 4px
    margin: 8px
    .pokemon-img
        width: 250px
        cursor: pointer
    .name,
    .id,
    .types
        padding: 4px 12px
        text-align: left
        align-items: center
        display: flex
        span:first-child
            margin-right: 4px
            font-weight: bold
